pymongo==3.12.1
pymongo[srv]
dnspython==2.1.0
pika==1.2.0
urllib3==1.26.7
bs4==0.0.1
lxml==4.6.3
beautifulsoup4==4.10.0
py==1.10.0
pyparsing==3.0.3
botocore==1.22.5
backports.entry-points-selectable==1.1.0
distlib==0.3.3
filelock==3.3.1
future==0.18.2
jmespath==0.10.0
packaging==21.0
platformdirs==2.4.0
pluggy==1.0.0
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
virtualenv==20.9.0
wrapt==1.13.2
tox==3.24.4
tenacity==8.0.1
